* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 5%;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: antiquewhite;
}


/*---header---*/

.header {
    background-color: #698269;
    padding: 10px;
}

.header h3 {
    margin-top: 10px;
}

.header p {
    margin-top: 10px;
}

.yearNav {
    margin-top: 5px;
}

    /*---yearNav link style---*/
    .yearNav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }

    .yearNav a:link {
        text-decoration: none;
        color: black;
        border-radius: 3px;
        padding: 5px;
    }
    .yearNav a:visited {
        color: black;
    }

    .yearNav a:hover {
        color: white;
        font-weight: bold;
    }

    .yearNav a:active {
        text-decoration: underline;
        font-size: larger;
    }

/*---content---*/ 
.content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.grandroundsNav {
    margin-top: 20px;
}
    /*---grandroundsNavf link style---*/
    .grandroundsNav a:link {
        font-size: 20px;
        padding: 5px;
        border-radius: 3px;
        text-decoration: none;
        color: black;
    }

    .grandroundsNav a:visited {
        color: black;
    }

    .grandroundsNav a:hover {
        color: white;
        font-weight: bold;
        background-color: rgba(131, 32, 32, 0.644);
    }

    .grandroundsNav a:active {
        text-decoration: underline;
        font-size: larger;
    }

.videoContainer {
    margin-top: 80px;
}

.video {
    border-radius: 5px;
    border:2px solid #698269;
}

/*---footer---*/
.footer {
    width: 100vw;
    background-color: gray;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
}

.footer p {
    font-size: 15px;
    padding: 5px
}

.left {
    text-align: left;
    margin-left: 5px;
}

.right {
    text-align: right;
    margin-right: 5px;
}

/* tablet view */
@media only screen and (min-width: 768px) {
    /* header */
    .header h3 {
        font-size: 25px;
    }

    .videoTitle h3 {
        font-size: 30px;
    }

    /* content */
        /* grandroundsNav links and lists styling */
        .grandroundsNav a:link {
            margin: 10px 5px 10px 5px;
            padding: 0;
            font-size: 30px;
        }
    .video {
        width: 660px;
        height: 415px;
    }

    /* footer */
    .footer p {
        font-size:  20px;
    }


}

@media only screen and (min-width: 1000px) {
    /* header */
    .header h3 {
        margin-bottom: 5px;
    }
    .title h3 {
        font-size: 25px;
    }

    /* content */
        /* grandroundsNav links anf lists styling */
        .grandroundsNav a:link {
            font-size: 20px;
        }

    .videoContainer {
        margin-top: 30px;
    }
    
    .video {
        width: 560px;
        height: 315px;
}

    /* footer */
    .footer {
        height: 40px;
    }
    .footer p {
        font-size: 15px;
    }
}
