* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 5%;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: antiquewhite;
}


/*---header---*/

.header {
    background-color: #698269;
    border: 2px solid red;
    padding: 5px;
}

.navBar {
    margin-bottom: 15px;
}

.yearNav {
    margin-top: 5px;
}

    /*---yearNav link style---*/
    .yearNav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 8px;
    }

    .yearNav a:link {
        text-decoration: none;
        color: black;
        border-radius: 3px;
        padding: 5px;
    }
    .yearNav a:visited {
        color: black;
    }

    .yearNav a:hover {
        color: white;
        font-weight: bold;
    }

    .yearNav a:active {
        text-decoration: underline;
        font-size: larger;
    }

/*---content---*/ 
.content {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 2px solid red;
}

.grandroundsNav {
    margin-top: 10px;
}
    /*---grandroundsNavf link style---*/
    .grandroundsNav a:link {
        padding: 5px;
        border-radius: 3px;
        text-decoration: none;
        color: black;
    }

    .grandroundsNav a:visited {
        color: black;
    }

    .grandroundsNav a:hover {
        color: white;
        font-weight: bold;
        background-color: rgba(131, 32, 32, 0.644);
    }

    .grandroundsNav a:active {
        text-decoration: underline;
        font-size: larger;
    }


.archiveTable {
    margin: 30px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    height: 400px;
    overflow: scroll;
}

.archiveTable p {
    color: rgb(238, 226, 226);
}

.archiveRow p {
    align-self: center;
    flex-wrap: wrap;
    color: black;
}

.archiveRow {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 2px solid;
    height: 50px;
    padding: 8px;
    background-color: #698269ea;
}
    /*---archiveTable link style---*/
    .archiveTable a:link {
        color: black;
    }
    .archiveTable a:visited {
        color: black;
    }

    .archiveTable a:hover {
        color: white;
        font-weight: bold;
    }

    .archiveTable a:active {
        text-decoration: underline;
        font-size: larger;
    }

/*---footer---*/
.footer {
    width: 100vw;
    background-color: gray;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
}

.footer p {
    font-size: 13px;
    padding: 5px
}

.left {
    text-align: left;
    margin-left: 5px;
}

.right {
    text-align: right;
    margin-right: 5px;
}


/*---Tablet---*/
@media only screen and (min-width: 768px) {
    .header {
        background-image: url(/images/brigham.jpg);
    }

    .title {
        font-size: 20px;
    }

    .headerNav p {
        font-size: 20px;
    }

    .yearNav {

    }

    .yearNav h3{
        font-size: 20px;
        margin-bottom: 5px;
    }
        /* yearNav links and lists styling */
        .yearNav li{
            margin-bottom: 5px;
            font-size: 25px;
        }

    /*---content---*/

        /* grandroundsNav lists and links styling */
        .grandroundsNav a:link {
            font-size: 25px;
            padding: 8px;
        }

    .archiveTable {
        margin: 25px 20px 0 20px;
        height: 600px;
    }
    .archiveRow {
        height: 80px;
    }

    .footer p {
        font-size: 20px;
    }


} 

/*---Desktop---*/
@media only screen and (min-width: 1000px) {
   /*---header---*/
   .header {
   
   }
   .banner {
   
   }

   .title {
    
   }
   .headerNav {
 
    }
    /*---content---*/
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .archiveTable {

        height: 300px;
        width: 650px;
    }
    .archiveRow {
        height: 50px;
    }
        /* grandroundsNav links and lists styling */
        .grandroundsNav a:link {
            font-size: 20px;
        }

    /* footer */
    .footer p {
        font-size: 15px;
    }
}


a:is(:link, :active, :visited).active {
    background-color: #f1dbbfc0;
    color: #1e441ebb;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

